body {
    color: white;
}

.flex-container {
    display: flex;
}

.colum {
    flex-direction: column;
}

.bg-green {
    background-color: #6a99a0;
}

.bg-purple {
    background-color: #5b2967;
}

.purple {
    color: #5b2967;
}

.bg-white-purple {
    background-color: #d6d4e0;
}

.black {
    color: black;
}

.border-box {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}

nav {
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
}

#nav-logo img{
    width: 200px;
}

#nav-menu li {
    margin: 0 10px;
}

#nav-menu button {
    border: none;
    border-radius: 15px;
}

#nav-menu button a {
    font-size: large;
}

#top-left {
    width: 45%;
    padding: 50px 10px 50px 30px;
}

#top-right {
    width: 55%;
    padding: 50px 30px 50px 10px;
}

#main-left {
    width: 65%;
    padding: 50px 25px 50px 50px;
}

#main-right {
    width: 35%;
    padding: 50px 50px 50px 25px;
    gap: 10px;
}

#image-container-main img {
    width: 100%;
}

footer {
    padding: 30px;
}

#bottom-main {
    width: 46%;
}

.bottom-sub {
    width: 18%;
}

@media screen and (max-width: 768px) {
    header, footer {
        display: none;
    }
}
