.font-serif {
    font-family: serif;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border-box {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.nav-menu {
    width: 30%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 5px;
}

#nav-center {
    width: 40%;
    display: inline-block;
    color: #b84b44;
}

.nav-menu li {
    list-style-type: none;
    display: inline-block;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    margin: 5px 15px;
}

.image-container {
    width: 35%;
}

#main-middle {
    display: inline-block;
    width: 30%;
    margin: auto;
    padding: 10px 30px;
    height: 500px;
}

#right-photo {
    text-align: right;
}

#bottom-article {
    display: block;
    width: 50%;
    margin: 30px auto;
    font-size: small;
}

footer {
    padding: 50px;
    background-color: #b84b44;
}
footer button {
    display: block;
    padding: 10px 60px;
    margin: auto;
    color: #b84b44;
}
@media screen and (max-width: 768px) {
    .float-left, .float-right {
        float: none;
    }

    .image-container {
        width: 100%;
    }

    .image-container img {
        width: 100%;
    }

    #main-middle {
        width: 90%;
        height: auto;
        margin-left: 5%;
    }

    #bottom-article {
        width: 90%;
    }
    
    .nav-menu {
        display: none;
    }

    #nav-center {
        width: 100%;
    }

    footer {
        padding-left: 0;
        padding-right: 0;
    } 
    footer button {
        width: 100%;
    }
}