.font-serif {
    font-family: serif;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border-box {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.nav-menu {
    width: 30%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 5px;
}

#nav-center {
    width: 40%;
    display: inline-block;
    color: #b84b44;
}

.nav-menu li {
    list-style-type: none;
    display: inline-block;
}
.nav-menu li a {
    text-decoration: none;
    color: black;
    margin: 5px 20px;
}
footer {
    padding: 50px;
    background-color: #b84b44;
}
footer button {
    display: block;
    padding: 10px 60px;
    margin: auto;
    color: #b84b44;
}
@media screen and (max-width: 768px) {
    footer {
        padding-left: 0;
        padding-right: 0;
    } 
    footer button {
        width: 100%;
    }
}